input.resultados {
  width: 37px;
  display: block;
  margin-left: 40%;
  margin-bottom: 12%;
  border-radius: 5px;
  font-size: 2.5rem;
  padding-left: 10px;
  padding-right: 7px;
}


/*input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}*/

/*.prize-counter {
  border: 5px solid blue;
	float: left;
	width: 42px;
	height: 42px;
	color: black;
	font-size: 24px;
	text-align: center;
	padding: 5px 0px 0px 0px;
}*/

.prize-counter {
	border: 5px solid #447eee;
	color: black;
	float: left;
	font-size: 30px;
	font-weight: 400;
	margin: 0 20px 0 0;
	padding: 15px 20px;
	text-transform: uppercase;
 }

 .grupos {
   background-color: #ffffff;
 }

 .text-button {
   font-weight: 400;
   font-size: 20px;
 }

 .login {
   background-color: rgb(43, 87, 203);
   border-radius: 0px;
 }

 .title {
   text-align: center;
   color: #fff;
   margin-top: -4%;
   margin-bottom: 5%;
 }

 .hide {
   display: none;
 }

 .f-show {
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 .margin {
   /*margin-top: 15%;*/
 }

 .margin-top {
  margin-top: 5%;
 }

 .margin-bottom {
   margin-bottom: 0%!important;
 }

 .modal-div {
   background-color: #fff;
 }

 .cuadro {
   background-color: rgb(118, 219, 246);
   text-align: center;
   width: 400px;
 }

 .main-content {
   background-image:url('images/bg.jpg');
 }

 #pelota {
   position: absolute;
   width: 25%;
   margin-top: -17%;
 }

 .resultado-final {
   display: none;
 }

 .p-final-result {
   color: green;
   font-size: 1.4em;
   font-weight: bold;
 }

 .label-final-result {
   font-size: 1.2em;
   font-weight: bold;
 }

 .none-style {
   list-style: none !important;
 }

 .margin-top {
   margin-top: 3%;
 }

 .family {
   font-family: 'Dusha', sans-serif;
 }

 .error {

   display: none;
 }

 .e-show {
   display: block;
   border: 2px solid #8b0300;
   color: #8b0300!important;
   margin-bottom: 0px!important;
 }

 .p-error {
  margin-bottom: 0px!important;
 }

 .list {
   margin-left: 86px;
   list-style: disc!important;
 }

 .parrafo {
   margin-top: 20px;
   font-size: 2rem;
 }

 .wrap {
   width: 160px;
 }

 .wrap-big {
   width: 103%;
 }

  .update{
    width: 110px;
    height: 25px;
    background-color: rgb(104, 109, 250);
    border-radius: 10px;
  }

  .center {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  .no-margin-left {
    margin-left: 0px!important;
  }
